body, .custom-nav {
	background-color: white;
}

#header-nav {
	opacity: .8;
	-moz-transition: height .5s ease-in-out;
	-webkit-transition: height .5s ease-in-out;
	-o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
}

.custom-nav .container {
	padding: 0;
	min-width: 100%;
}

#body-content {
	background-color: white;
	width: 100%;
	height: auto;
}

#header-nav .container {
	margin-left: 0;
	margin-right: 0;
}

#brand-header {
	font-size: 2em;
	letter-spacing: .125em;
	margin-right: 3.146699%;
}

.nav-item {
	margin-right: 11.641444%;
	font-size: .8em;
}

.container-fluid {
	padding: 0;
}

#brand-header, .nav-item {
	font-family: 'Amiko', sans-serif !important;
}

#footer-nav .navbar-text {
	font-size: .8em;
	color: black;
}

#footer-nav a {
	text-decoration: none !important;
	color: black;
}

#footer-nav a:hover {
	color: black;
}

.vertical-center {
/*	min-height: 100%;   Fallback for browsers do NOT support vh unit 
	min-height: 100vh; These two lines are counted as one :-)*/       

	display: flex;
	align-items: center;
}

/*______________HOME__________________________________________*/

#home-img {
	height: auto;
}

#home-container {
	width: 93.75%;
}

/*_________________SOCIAL-ICONS_________________*/

#social-row {
    margin: 15px 0 15px 0;
    padding: 0;
    width: auto;
}

#social-row ul {
    margin: 0;
    padding: .520833%;
}

#social-row ul li {
    list-style: none outside none;
    display: inline-block;
    margin: 0 2px 0 2px;
}

.fa-stack {
	color: white;
	border: 2px solid #909AA0;
	border-radius: 50%;
	transition: all ease 0.3s;
}

.fa-stack-1x {
	color: #909AA0;
	transition: all ease 0.3s;
}

.fa-stack:hover {
	background-color: black;
	border-color: black;
	transition: all ease 0.3s;
}

.fa-stack-1x:hover {
	color: white;
	transition: all ease 0.3s;
}

/*_______________TOUR_____________________________________________*/

#tour-container {
	font-family: 'Raleway', sans-serif;
	color: #464646;
	width: 70%;
}

#tour-container .row {
	border-top: none !important;
	padding-top: 3.231125%;
	padding-bottom: 3.231125%;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #eceeef;
	margin: 0;
}

.time {
	font-weight: 700;
	float: left;
	width: 20%;
	font-size: 13px;
	letter-spacing: .5px;
}

.time .evt {
	display: inline-block;
	margin-right: 20px;
}

.venue_name {
	width: 25%;
	padding-right: 25px;
}

.venue_location {
	width: 15%;
}

.venue_name, .venue_location {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: .4px;
}

.event-links {
	width: 40%;
	display: inline-block;
}

.custom-btn {
	float: right;
	margin-left: 5px;
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 1px;
	border: 2px solid #464646;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: .063em;
	text-decoration: none !important;
	padding: 0 12px 0 12px;
	letter-spacing: 2px;
	line-height: 28px;
}

.custom-btn:not(.empty) {
	color: #3a3a3a;
}

.custom-btn.empty {
	color: #eaecef;
	border-color: #eaecef;
}

.custom-btn:hover:not(.empty) {
	color: white;
	background-color: #3a3a3a;
	cursor: pointer;
}

.custom-btn.empty:hover {
	color: #eaecef;
	border-color: #eaecef;
	background-color: white;
}

@media screen and (max-width: 600px) {
	#tour-container {
		width: 95%;
	}

	.time {
		-webkit-box-ordinal-group: 1;
		order: 1;
		float: left;
		flex-basis: auto;
		width: auto;
		margin-bottom: 15px;
		margin-top: 7px;
	}

	.time .evt {
		width: auto;
		height: auto;
		margin-right: 7px;
	}

	.evt {
		width: auto;
		height: auto;
		text-align: none;
	}

	.venue_name, .venue_location {
		float: left;
		flex-basis: auto;
		width: auto;
		line-height: 28px;
	}

	.venue_name {
		-webkit-box-ordinal-group: 2;
		order: 2;
	}

	.venue_location {
		-webkit-box-ordinal-group: 3;
		order: 3;
	}

	.event-links {
		position: absolute;
		right: 0;
		display: block;
		float: none;
		width: auto;
		flex-basis: auto;
		white-space: nowrap;
		text-align: right;
		box-sizing: border-box;
	}

	.custom-btn {
		margin-bottom: 5px;
	}

	#tour-container .row {
		display: flex;
		flex-flow: column-nowrap;
		-webkit-box-pack: start;
		justify-content: flex-start;
		position: relative;
		padding-bottom: 20px;
		flex-direction: column;
		-webkit-box-orient: vertical;
		overflow: visible;
	}	
}

/*_________________MUSIC_____________________________________*/

.album-img {
	height: auto;
}

.album {
	margin-bottom: 10%;
	width: 70%;
}

.music-links {
	padding-left: 10%;
	padding-right: 10%;
}

.music-link a {
	color: rgba(0,0,0,.7);
	text-decoration: none;
	/*font-family: 'Amatica SC', cursive;*/
	font-family: 'Amiko', sans-serif;
	/*font-weight: bold;*/
	font-size: 1em;
}

.music-link a:hover {
	text-decoration: none;
}

#ssfap-music-links .music-link a:hover {
	color: rgb(213, 122, 58);
}

#psychopomp-music-links .music-link a:hover {
	color: #76a2b4;
}

.spotify-wrapper {
	text-align: left;
	width: 30%;
}

#music-container {
	height: auto;
	width: 80%;
}

#music-container .row {
	margin-top: 5%;
}

@media screen and (max-width: 1014px) {
	.spotify-wrapper, .album{
		width: 50%;
	}
}

@media screen and (max-width: 750px) {
	#music-container {
		width: 100%;
	}

	.spotify-wrapper, .album {
		text-align: center;
		width: 100%;
	}
}

/*_________________VIDEO_______________________________________*/

#video-container {
	padding-left: 0;
	padding-right: 0;
}

#video-container .video {
	margin-top: 1.75%;
	margin-bottom: 1.75%;
	margin-left: 0;
	margin-right: 0;
}

.overlay {
	display: inline-block;
	position: relative;
}

.overlay img {
	height: auto;
	display: block;
}

.overlay img:hover + .info, .info:hover {
	display: block;
	cursor: pointer;
}

.info {
	display: none;
	color: white;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0; 
	left: 0;
}

#video-container .row p {
	line-height: 150%;
}

.caption {
	margin-top: 2%;
}

.caption p {
	font-family: 'Amiko', sans-serif;
}

.video-cred {
	font-size: .8em;
}

/*___________________SHOP_________________________________*/

#shop-container {
	width: 90%;
}

#shop-container span{
	font-family: 'Amiko', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
}

.shop-item {
	width: 30%;
	height: auto;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 2%;
	margin-bottom: 4%;
	display: inline-block;
	vertical-align: top;
}

.shop-overlay {
	display: inline-block;
	position: relative;
}

.shop-overlay img:hover + .shop-info, .shop-info:hover {
	display: block;
	cursor: pointer;
}

.shop-info {
	display: none;
	color: white;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0; 
	left: 0;
}

.shop-info .text {
	font-size: 25px !important;
	margin-left: 10px !important;
}

.shop-img-container {
	margin-bottom: 10px;
}

.shop-img {
	/*border: 3px solid #d6e5ff;*/
	/*border: 3px solid #45484c;*/
	border: 2px solid #6f747a;
}

@media screen and (min-width: 1440px) {
	#shop-container {
		width: 1296px;
	}
}

@media screen and (max-width: 768px) and (min-width: 481px) {
	.shop-item{
		width: 40%;
		margin-top: 1%;
		margin-bottom: 8%;
	}
}

@media screen and (max-width: 480px) {
	.shop-item{
		width: 80%;
		margin-top: 8%;
		margin-bottom: 8%;
	}
}

/*__________________CONTACT_________________________________*/

#contact-container {
	width: 80%;
	text-align: left;
	display: flex;
	flex-direction: column;
}

#contact-img {
	width: 80%;
	height: auto;
}

.contact-title {
	/*font-size: 1.1em;*/
	font-size: 1.1vw;
}

.email {
	/*font-size: .9em;*/
	font-size: .9vw;
}

#contact-img-container {
	-webkit-box-ordinal-group: 2;
	order: 2;
	width: 60%;
}

#contact-text-container {
	-webkit-box-ordinal-group: 1;
	order: 1;
	width: 30%;
}

@media screen and (max-width: 995px){
	#contact-img-container {
		-webkit-box-ordinal-group: 1;
		order: 1;
		width: 100%;
	}

	#contact-text-container {
		-webkit-box-ordinal-group: 2;
		order: 2;
		width: 100%;
	}

	#contact-img {
		width: 80%;
	}

	#contact-text-container p {
		margin-left: 10%;
		margin-top: 5%;
	}
}

