body, .custom-nav {
	background-color: white;
}

#header-nav {
	opacity: .8;
	-moz-transition: height .5s ease-in-out;
	-webkit-transition: height .5s ease-in-out;
	-moz-transition: height .5s ease-in-out;
	-o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
}

.custom-nav .container {
	padding: 0;
}

#body-content {
	background-color: white;
	width: 100%;
	height: auto;
}

#brand-header {
	font-size: 2em;
	/*letter-spacing: 2px;*/
	letter-spacing: .125em;
	/*margin-right: 30px;*/
	margin-right: 3.146699%;
}

.nav-item {
	/*margin-right: 30px;*/
	margin-right: 11.641444%;
	font-size: .8em;
}

.container-fluid {
	padding: 0;
}

#brand-header, .nav-item {
	font-family: 'Amiko', sans-serif !important;
}

#footer-nav .navbar-text {
	font-size: .8em;
	color: black;
}

.vertical-center {
	/*min-height: 100%;   Fallback for browsers do NOT support vh unit 
	min-height: 100vh; These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

/*______________HOME__________________________________________*/

#home-img {
	/*width: 350px;*/
	/*height: auto;*/
	/*width: 100% \9;*/
	width: auto;
}

.home-container {
	width: 93.75%;
}

/*_________________SOCIAL-ICONS_________________*/

.social {
    margin: 0;
    padding: 0;
}

#social-row {
	margin: 0;
}

.social ul {
    margin: 0;
    /*padding: 5px;*/
    padding: .520833%;
}

.social ul li {
    /*margin: 5px;*/
    list-style: none outside none;
    display: inline-block;
}

.social i {
    min-width: 40px;
    min-height: 40px;
    /*max-width: 62px;*/
    /*min-height: 62px;*/
    color: #909AA0;
    border: 2px solid #909AA0;
    background-color: white;
    /*font-size: 22px;*/
    text-align:center;
    /*padding-top: 10px;*/
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    background: black;
    border-color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

/*_______________TOUR_____________________________________________*/

.tour-container {
	width: 90%;
}

.tour-container .row div {
	border-top: none !important;
	border-bottom: 1px solid #eceeef;
	/*padding-top: 24px;*/
	padding-top: 3.231125%;
	/*padding-bottom: 24px;*/
	padding-bottom: 3.231125%;
	font-family: 'Amiko', sans-serif;
	color: #464646;
}

.event-date, .event-weekday {
	font-weight: 900 !important;
	font-size: .8em;
}

.event-date {
	width: 50px;
	padding-left: 0;
	padding-right: 0;
}

.event-weekday {
	padding-left: 0;
}

.event-name {
	padding-left: 0;
	/*padding-right: 50px;*/
}

.event-links {
	/*padding-left: 80px;*/
	padding-right: 0;
}

.custom-btn {
	margin: 0 10px 0 10px;
	border-radius: 3px;
	border-width: 2px;
	font-family: 'Amiko', sans-serif
	font-weight: 900;
	font-size: .8em;
	letter-spacing: 1px;
}

.custom-btn:not(.empty) {
	color: #3a3a3a;
	border-color: black;
}

.custom-btn.empty {
	color: #eaecef;
	border-color: #eaecef;
}

.custom-btn:hover:not(.empty) {
	color: white;
	background-color: #3a3a3a;
	border-color: black;
	cursor: pointer;
}

.custom-btn.empty:hover {
	color: #eaecef;
	border-color: #eaecef;
	background-color: white;
}

.custom-btn.empty:active {
	border-width: 2px !important;
}

/*_________________MUSIC_____________________________________*/

.album-img {
	width: 500px;
	height: auto;
	width: 100% \9;
}

.album {
	margin-bottom: 10%;
}

.music-link a {
	color: rgba(0,0,0,.7);
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
}

.music-link a:hover {
	text-decoration: none;
	/*color: #969696; */
}

#ssfap-music-links .music-link a:hover {
	color: rgb(213, 122, 58);
}

#psychopomp-music-links .music-link a:hover {
	color: rgb(186, 254, 202);
}

.music-container {
	height: auto;
	/*width: 70%;*/
	width: 80%;
}

.music-container .row {
	margin-top: 5%;
}

/*_________________VIDEO_______________________________________*/

.video-container {
	padding-left: 0;
	padding-right: 0;
}

.video-container .video {
	margin: 20px 0 20px 0;
}

.overlay {
	display: inline-block;
	position: relative;
}

.overlay img {
	display: block;
}

.overlay img:hover + .info, .info:hover {
	display: block;
	cursor: pointer;
}

.info {
	display: none;
	color: white;
	background-color: rgba(0,0,0,.5);
	padding: 8px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0; 
	left: 0;
}

.video-container .row p {
	line-height: 20px;
}

.caption {
	margin-top: 20px;
}

.caption p {
	font-family: 'Amiko', sans-serif;
}

.video-cred {
	font-size: .8em;
}

/*___________________SHOP_________________________________*/

.shop-container {
	margin-top: 5%;
	/*width: 100%;*/
}

.shop-section {
	width: 30%;
	height: 40%;
	float: top;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #d6e5ff;
}

.shop-img {
	width: 95%;
	height: auto;
	align-self: center;
	margin-top: 2.5%;
}

/*__________________CONTACT_________________________________*/

.contact-container {
	text-align: left;
}

#contact-img {
	width: 80%;
	height: auto;
}

.contact-title {
	font-size: 1.1em;
}

.email {
	font-size: .9em;
}

