/* General */

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Amiko', sans-serif !important;
	/* cursor: url('../../images/persimmon.png'), auto; */
}

body, .custom-nav {
	background-color: white;
}

/* a {
	cursor: url('../../images/persimmon.png'), auto !important;
} */

.container-fluid {
	padding: 0;
}

#body-content {
	background-color: white;
	width: 100%;
	height: auto;
	visibility: hidden;
}

/* Header */

.nav-lg {
  display: flex;
}

.nav-sm {
  display: none;
}

#header-nav {
	opacity: .8;
	-moz-transition: height .5s ease-in-out;
	-webkit-transition: height .5s ease-in-out;
	-o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
	padding: 0;
}

.nav-lg .navbar-nav {
	width: 100%;
	flex-direction: row;
  justify-content: space-between;
	align-items: center;
	padding: 1%;
	max-width: 1180px;
}

.custom-nav .container {
	padding: 0;
	min-width: 100%;
}

#header-nav .container {
	margin-left: 0;
	margin-right: 0;
}

#brand-header {
	font-size: 2em;
	letter-spacing: .125em;
	margin: 0;
	margin-left: 1%;
}

.nav-sm {
	justify-content: space-between;
}

.nav-item {
	font-size: .8em;
	/* color: #004d6c !important; */
}

#brand-header, .nav-item {
	font-family: 'Amiko', sans-serif !important;
}

.navbar-toggler-icon {
	vertical-align: inherit;
}

@media screen and (max-width: 991px) {
  .nav-lg {
    display: none;
  }

  .nav-sm {
    display: flex;
		padding: 10px 25px !important;
  }

  .navbar-nav {
    width: 100%;
		display: flex;
  }

	#brand-header {
		font-size: 1em;
		height: fit-content;
		margin-left: 0;
		width: 30%;
	}
}

@media screen and (max-width: 320px) {
	.nav-sm {
		padding: 8px 15px !important;
	}
}

/* Footer */

#footer-nav {
	padding: 0 !important;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
	visibility: hidden;
}

#footer-nav .navbar-text {
	font-size: .8em;
	color: black;
	text-align: center;
}

#footer-nav a, #home-container a {
	text-decoration: none !important;
	color: black;
}

#footer-nav a:hover, #home-container a:hover {
	color: black;
}

#footer-text {
	white-space: nowrap;
	display: inline-block;
	width: 50%;
}

#credits {
	font-size: 12px;
	justify-content: center;
	width: 100% !important;
}

#credits, #footer-nav ul{
	display: flex;
	align-items: center;
}

#footer-nav ul {
	justify-content: flex-end;
}

#newsletter-socials-row {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/*_______________NEWSLETTER_____________________*/

#newsletter-section {
	width: 377px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
	border: 3px solid #170002;
	border-radius: 10px;
	font-size: 14px;
}

#newsletter-logo {
	width: 10%;
	margin-left: 20px;
}

.newsletter-subscribe-form {
	width: 90%;
	display: flex;
}

.newsletter-subscribe-form .field {
	width: 100%;
	text-align: right;
}

#email-input {
	width: 68%;
	border: none;
	text-align: center;
}

#email-input:focus {
	outline: none;
}

#sign-up-btn {
	width: 30%;
	border: none;
	background-color: #170002;
	color: white;
	height: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#sign-up-btn:hover {
	transition: all ease 0.3s;
}


/*_________________SOCIAL-ICONS_________________*/


.social-row {
    margin: 6px 10px;
    padding: 0;
}

.social-row ul {
    margin: 0;
    padding: .520833%;
}

.social-row ul li {
    list-style: none outside none;
    display: inline-block;
    margin: 0 2px;
}

.fa-stack {
	color: white;
	/* border: 2px solid #909AA0; */
	border: 2px solid #170002;
	border-radius: 50%;
	transition: all ease 0.3s;
	display: flex;
	align-items: center;
}

.fa-stack-1x {
	/* color: #909AA0; */
	color: #170002;
	transition: all ease 0.3s;
}

.fa-stack:hover {
	background-color: black;
	border-color: black;
	transition: all ease 0.3s;
}

.fa-stack-1x:hover {
	color: white;
	transition: all ease 0.3s;
}

@media screen and (max-width: 991px) {
	/* #newsletter-socials-row {
		flex-direction: column;
		margin-bottom: 0;
	} */

	.social-row {
		width: 90%;
	}

	.social-row ul {
		justify-content: center !important;
		order: 1;
	}

	#newsletter-section {
		width: 50%;
		margin-bottom: 15px;
	}

	#newsletter-section {
		order: 2;
	}

	/* #credits {
		justify-content: center;
	} */
}

@media screen and (max-width: 600px) {
	#newsletter-section {
		width: 90%;
	}
}
