/*__________________CONTACT_________________________________*/

#contact-container {
	width: 80%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact-container a {
	text-decoration: none;
	color: black;
}

#contact-container a:hover {
	color: #999999;
	transition: all ease 0.3s;
}

.contact-title {
	font-size: 15px;
	cursor: default;
	margin-bottom: 5px;
}

.email {
	font-size: 12px;
}

.contact-section {
	width: 30%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

#contact-container .fa-stack {
	border: none;
	border-radius: 10%;
}

#contact-container .fa-stack-1x{
	color: #909AA0;
}

#contact-container .fa-stack:hover {
	background-color: white;
	border-color: white;
	transition: all ease 0.3s;
}

#contact-container .fa-stack-1x:hover {
	color: black;
	transition: all ease 0.3s;
}

@media screen and (max-width: 768px) {
	.contact-section {
		width: 50%;
	}
}

@media screen and (max-width: 425px) {
	.contact-section {
		width: 80%;
	}
}
