/*______________HOME__________________________________________*/
#body-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
}

#home-img {
	display: none;
	max-width: 555px;
	max-height: 909px;
}

#home-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 992px){
	#footer-nav{
		position: fixed;
	}
}
