/*______________HOME__________________________________________*/
#body-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
}

#home-img {
	display: none;
	width: 40%;
	height: auto;
	max-width: 777px;
	/* max-height: 909px; */
}

#home-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-nav {
	position: fixed;
}

/* @media screen and (min-width: 992px){
	#footer-nav{
		position: fixed;
	}
} */

@media screen and (max-width: 991px){
	#home-img {
		width: 50%;
	}
}

@media screen and (max-width: 767px){
	#home-img{
		width: 70%;
	}
}

@media screen and (max-width: 425px){
	#home-img{
		width: 90%;
	}
}
