/*_________________VIDEO_______________________________________*/

#body-content {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
  justify-content: center;
	max-width: 1600px;
}

.video {
  width: 80%;
  height: auto;
  margin: 1%;
}

.video-wrapper, .player{
	width: 100%;
}

.caption {
	width: 100%;
	font-family: 'Amiko', sans-serif;
	line-height: 150%;
	text-align: center;
	margin-bottom: 20px;
}

.video-cred {
	font-size: 12px;
}

p {
	margin-bottom: 0;
}

.align-items-center {
	display: flex;
	justify-content: center;
}
